@page {
    size: a4 portrait;
    margin: 1cm;
}

@font-face {
    font-family: Roboto;
    src: url(https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap);
}

.whole-page {
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
}

.first-row {
    background-color: #d1dcef;
    display: flex;
    flex-direction: row;
    padding: 9px 26px 10px 26px;
    justify-content: space-between;
    margin-bottom: 9px;
    
    flex-grow:0;
}

.company-details-column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.image-section{
    display: flex;
    flex-direction: column;
    justify-content:center ;

}
.daily-worksheet-title {
    color: #0000FF;
    font-size: 25px;
    padding: 10px 10px 10px 10px;
}
.job-number-section{
    display: flex;
    flex-direction: column;
    padding-top: 10px;
    padding-bottom: 10px;
    justify-content: space-between; 
}
.serialnumberspan {
    white-space: nowrap;
}
.serial-number-span {
    font-size: 15px;
}

.serial-number {
    font-size: 20px;
    color: #F40E0E;
}
.company-title-large{

}
.ksb-name-span-large{
    font-family: Roboto, Arial;
    color: #4B5770;
    font-weight: 900;
    font-size: 25px;
}
.supreme-span-large{
    font-family: Roboto, Arial;
    font-size: 25px;
    font-weight: 900;
}


p {
    padding: 2px;
    font-size: 12px;
    font-family: Roboto, Arial;
    font-size: 400;
}

.company-title {
    padding: 6px;
    text-align: right;
}

.ksb-name-span {
    font-family: Roboto, Arial;
    color: #4B5770;
    font-weight: 900;
    font-size: 20px;
}

span {
    font-family: Roboto, Arial;
    font-size: 17px;
}

.supreme-span {
    font-family: Roboto, Arial;
    font-size: 20px;
    font-weight: 900;
}

.logo {
    width: 90px;
    object-fit: contain;
}

.photo {
    width: 250px;
}





.job-number-date-columns {
    display: flex;
    flex-direction: row;
}

.job-number-date-titles {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: flex-end;
    padding: 10px;
    font-weight: 700;
}

.job-number-date-values {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
}
.signature-row{
    display: flex;
    flex-direction: row;
    padding: 10px 1px 10px 1px;
    justify-content: space-around;
}  

.third-row {
    display: flex;
    flex-direction: row;
    padding: 9px 1px 10px 1px;
    justify-content: space-between;
    flex-grow:0;
}

.second-row {
    display: flex;
    flex-direction: row;
    padding: 9px 1px 10px 1px;
    justify-content: space-between;
    flex-grow:0;
}

.coloured-header {
    padding: 5px;
    background-color: rgb(13, 80, 102);
    color: #FBE8E8;
    margin: 2px;
    white-space: nowrap;
}

.autofilled-vals {
    color: rgb(68, 6, 6);
    white-space: nowrap;
    padding: 5px;
    margin: 2px;
}



.client-details-values,
.engineer-details-values{
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    flex: 3;
    
    padding: 2.5px 2.5px 2.5px 2.5px;
    justify-content: space-between;
}


.engineer-details-titles,
.client-details-titles {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    flex: 2;
    
    padding: 2.5px 2.5px 2.5px 2.5px;
    justify-content: space-between;
}

.difference-values,
.end-values,
.start-values {
    font-size: 13px;
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    flex: 1;
    
    padding: 2.5px 2.5px 2.5px 2.5px;
    justify-content: space-between;
}
.start-titles,
.end-titles,
.difference-titles{
font-size: 13px;
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    flex: 2;
    
    padding: 2.5px 2.5px 2.5px 2.5px;
    justify-content: space-between;
}



.report-column {
    display: flex;
    flex-direction: column;
}

.photos {
    flex-wrap: wrap;
    gap: 12px;
}

.photo {
    height: 80px;
    object-fit: contain;
}

.signature {
    width: 80px;
    object-fit: contain;
}

.description {
    padding: 1px;
    text-align: right;
}

body {
    font: normal 14px Roboto Arial;
}



.lorem-text {
    height: 95px;
    padding: 2.5px 5px 2.5px 5px;
}
.signature-column{
    padding: 2px;
    flex-direction: column;
    display: flex;
    align-items: center; 
    justify-content: space-between;
}
.images-grid{
    display: grid;
    grid-template-columns: 1fr,1fr,1fr;
    column-gap: 10px;
    row-gap: 10px;
}